* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  min-height: 100vh;
}

.card {
  background: rgba(228, 164, 96, 0.5)!important;
  border-radius: 0.70rem;
  box-shadow: 10px 5px 5px rgb(15, 15, 15);
}
.hero-body{
  background: linear-gradient(to left, rgb(217, 16, 16),rgb(217, 81, 17), rgb(220, 174, 11));
  
}
 .button{

    border-radius: 0.7em;
    cursor: pointer;
    background: white;
}
 .button:hover{
background:rgba(205, 203, 203, 0.5);
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
.titleWrapper {
  text-decoration: underline;
  text-underline-offset: 17px;
  background: linear-gradient(to right, red, orange, yellow, green,blue , indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 100s linear infinite;
}

#pageTitle{
  font-size: 60px;

}

@keyframes animate{
  to{
      background-position: 4500vh;
  }
  }
.message{


}
#volume, #performance, #price{

}




  .footer{
    padding: 0px;
    margin-top: auto;
  }


#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  max-height: 40px;
}

#scroll-text {
  font-size: 24px;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-250%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-250%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-250%);
    -webkit-transform: translateX(-250%);
    transform: translateX(-250%);
  }
}


/* MAX WIDTH 1350 PX */

@media only screen and (max-width: 1350px) {
  #scroll-text {
    font-size: 24px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-325%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-325%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-325%);
      -webkit-transform: translateX(-325%);
      transform: translateX(-325%);
    }
  }
}


/* MAX WIDTH 1000 PX */

@media only screen and (max-width: 950px){
  #scroll-text {
    font-size: 24px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-370%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-370%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-370%);
      -webkit-transform: translateX(-370%);
      transform: translateX(-370%);
    }
  }
}


/* MAX WIDTH 768 PX */

@media only screen and (max-width: 768px){
  .dropdown{
    width: 100%;
    justify-content: center;}

    #scroll-text {
      font-size: 24px;
      /* animation properties */
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      
      -moz-animation: my-animation 15s linear infinite;
      -webkit-animation: my-animation 15s linear infinite;
      animation: my-animation 15s linear infinite;
    }
    
    /* for Firefox */
    @-moz-keyframes my-animation {
      from { -moz-transform: translateX(100%); }
      to { -moz-transform: translateX(-480%); }
    }
    
    /* for Chrome */
    @-webkit-keyframes my-animation {
      from { -webkit-transform: translateX(100%); }
      to { -webkit-transform: translateX(-480%); }
    }
    
    @keyframes my-animation {
      from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-480%);
        -webkit-transform: translateX(-480%);
        transform: translateX(-480%);
      }
    }
}


/* MAX WIDTH 600 PX */


@media only screen and (max-width: 600px){
  #scroll-text {
    font-size: 24px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-640%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-640%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-640%);
      -webkit-transform: translateX(-640%);
      transform: translateX(-640%);
    }
  }
}


/* MAX WIDTH 450 PX */


@media only screen and (max-width: 450px) {
  #scroll-text {
    font-size: 24px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-800%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-800%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-800%);
      -webkit-transform: translateX(-800%);
      transform: translateX(-800%);
    }
  }
}