* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  min-height: 100vh;
}

.card {
  background: rgba(228, 164, 96, 0.5)!important;
  border-radius: 0.70rem;
  box-shadow: 10px 5px 5px rgb(15, 15, 15);
}
.hero-body{
  background: linear-gradient(to left, rgb(217, 16, 16),rgb(217, 81, 17), rgb(220, 174, 11));
  
}
 .button{

    border-radius: 0.7em;
    cursor: pointer;
    background: white;
}
 .button:hover{
background:rgba(205, 203, 203, 0.5);
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
.titleWrapper {
  text-decoration: underline;
  text-underline-offset: 17px;
  background: linear-gradient(to right, red, orange, yellow, green,blue , indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 100s linear infinite;
}

#pageTitle{
  font-size: 125px;

}

#search-form{
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

#box-format{
  font-size: 20px;
}

#symbol{
font-size: 20px;
}

#ranking{
  font-size: 20px;
}

.red {
  font-weight: bolder;
  color: red;
}

.green {
 font-weight: bolder;
 color: green;
}


#modal-x-btn{
  position: absolute;
  top: 5px;
  right: 3px;
}


@keyframes animate{
  to{
      background-position: 4500vh;
  }
  }

  .footer{
    padding: 0px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
  }


#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  max-height: 40px;
}

#scroll-text {
  font-size: 24px;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-110%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-110%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }
}


/* MAX WIDTH 1350 PX */

@media only screen and (max-width: 1350px) {

}


/* MAX WIDTH 950 PX */

@media only screen and (max-width: 950px){

}


/* MAX WIDTH 768 PX */

@media only screen and (max-width: 768px){

}


/* MAX WIDTH 600 PX */


@media only screen and (max-width: 600px){

}


/* MAX WIDTH 450 PX */


@media only screen and (max-width: 450px) {

}